.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:17px;
    background-color: #e9eef5;
    width: 92%;
    max-height: 120px;
    overflow-y: auto;
    border: 1px solid #000;
    z-index: 1;
}

.dropdown-content .dropdown_item{
    padding: 5px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.8rem;
}

.dropdown-content .dropdown_item:hover {
    cursor: pointer;
    background-color: #c1c1c1;
}

.dropdown.active .dropdown-content {
    display: block;
}