html{
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
    overflow: hidden;					/*Se pondra visible una vez cargada la pagina (archivo load.js) */
    background-image: url("../Recursos/fondo.jpg");
  }


:root{
    --font-size-title: 1.3rem;
    --font-size-select: 1rem;

    --width_inputText: 88%;
    --padding_inputText: 5px 3px;

    --padding_select: 5px 3px;
}

@font-face {
	font-family: Gabarito;
	font-weight: bold;
	src: url(fonts/Gabarito/Gabarito-VariableFont_wght.ttf);
  }



p{
  font-size: var(--font-size-select);
  display: inline;
  font-weight: bold;
  color: #193366;
  font-family: Gabarito;
}

input:focus,
select:focus{
  outline: none;
}


/* width */
body::-webkit-scrollbar{
    width: 15px;
    height: 15px;
}
  
/* Track */
body::-webkit-scrollbar-track{
    background:#888; 
}
   
/* Handle */
body::-webkit-scrollbar-thumb{
    background: #557696;
}
  
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover{
    background: #41678d;
}





table.busqueda{
    display: block;
    margin: 50px auto;
    height: 70%;
    border-collapse: collapse;
    
	width: fit-content;
    padding:0px;
    top:50px;
    background-color:#fff;
    border:3px solid #99bbff;
}

table.busqueda * {
	font-family: Gabarito;
	color: #193366;
}

table.busqueda td,tr,th{
    Word-wrap: break-Word;
    text-align: center;
	width: fit-content;
}

tr td.space{
  height: 2px;
}

table.busqueda th{
    background-color:#e6f2ff;
    color: #193366;
    font-size: var(--font-size-title);
    font-weight: bold;
    border-top: 1px solid #99bbff;
    border-bottom: 1px solid #99bbff;
}

table.busqueda .input_text {
	font-size: var(--font-size-select);
	border: 3px inset #d9d9d9;
	width: var(--width_inputText);
	text-align:left;
  	height: 1.2rem;
}

table.busqueda .select{
	font-size: var(--font-size-select);
	border: 3px inset #9fbfdf;
	width: var(--width_inputText);
  	height: 1.7rem;
	text-align:left;
}

table.busqueda .select2{
  width: 10rem;
  text-align: center;
}

.input_anios{
  font-size: var(--font-size-select);
  text-align: center;
	border: 3px inset #9fbfdf;
	width: 3.8rem;
  padding: var(--padding_select);
  height: 1rem;
	text-align:left;
  padding: var(--padding_select);
}







.switch {
    position: absolute;
    display: inline-block;
    width: 2.2rem;
    height: 1rem;
    margin-top: 1px;
    margin-left: 6px;

  
   
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0; 
  }
  
  
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: royalblue;
    -webkit-transition: .4s;
    transition: .4s;
    
  
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    left:0.2rem;
    top:0.1rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  
  input:checked + .slider:before {
    transform: translateX(1.15rem);
  }














.btnInt {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    background: #ebe012;
    padding: 0.1rem;
    border: solid #b5b5b5 2px;
    text-decoration: none;
    float: center;
  }
  
.btnInt:hover {
    background: #FFFF00;
    text-decoration: none;
    cursor: pointer;
}




.tr_botones td{
  padding: 0.75rem 0px;
  border-top: 2px solid #999;
}

.tr_botones td:nth-child(1){
  text-align: right;
}

.tr_botones .td_buscar{
  text-align: right;
  padding-right: 10px;
}

.tr_botones .td_limpiar{
  text-align: left;
  padding-left: 10px;
}

.tr_botones .td_buscar input,
.tr_botones .td_limpiar input{
  width: 50%;
  background: linear-gradient(to bottom, #7699df, #294557);
  color: #fff;
  font-size: 0.85rem;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 1.15rem 10px 5px;
  cursor:pointer;
  font-weight: bold;
  z-index: 5;
}

.tr_botones .td_buscar img{
  position: absolute;
  text-align: right;
  width: 1.15rem;
  margin-top: 0.67rem;
  margin-left: 4.3rem;
  z-index: 3;
  pointer-events: none;
}

.tr_botones .td_limpiar img{
  position: absolute;
  text-align: right;
  width: 1.15rem;
  margin-top: 0.67rem;
  margin-left: 4.58rem;
  z-index: 3;
  pointer-events: none;
}

.tr_botones .td_buscar input:hover,
.tr_botones .td_limpiar input:hover{
  background: linear-gradient(to bottom, #5c77ad, #14222b);
}





























	