.contenedor_paginacion{
	display: flex;
	width: fit-content;
	background-color: transparent;
	margin-left: 35%;
	margin-top:30px;
	text-align: center;
}

.contenedor_paginacion input[type=text],.pagina{
	font-family: sans-serif;
	border: 0.1px solid #ddd;
    border-radius: 15px;
    font-size: 1.25vw;
	line-height:1.5;
  	text-align: center;
	background:#efefef;
	cursor: inherit;
	margin: 0 0.2vw;
}

.pagina:hover{
	color:white;
	background-color:#214F7E;
}

.pagina{
	color: #999;
	padding: 0.2vw 0.8vw;
	cursor: pointer;
	height: 2.5vw;
}

.contenedor_paginacion input[type=text]{
	color:white;
	background-color:#214F7E;
	width: 2vw;
	height: 2vw;
	text-align: center;
	padding: 0.2vw 0.4vw;
}

